<%= form_with(model: entrance, local: true) do |form| %>
  <% if entrance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrance.errors.count, "error") %> prohibited this entrance from being saved:</h2>

      <ul>
      <% entrance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.text_field :building_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
