
<!-- Dank Background gif-->
<%# <video autoplay muted loop id="bg-media">
<source src="https://giant.gfycat.com/PlaintivePoisedIvorygull.webm" type="video/mp4">
</video> %>
<%= image_tag("OLD_NORTH.jpg", :id => "bg-media") %>

<!--Title Container-->
<div class="container-fluid" id="title-container">
<a href="https://www.uco.edu/" style="background-color: transparent;">
    <%= image_tag("UCO Logo.png", :id => "UCO-Logo") %>
</a>
</div>

<!--Search Bars-->
<div class="input-group" id="Search-Bars">
    <select type="text" placeholder="Starting Position" class="form-control">
        <option selected disabled hidden>Select a start building...</option>
        <% @buildings.each do |building| %>
            <option><%= building.title %></option>
        <% end %>
    </select>
    <select type="text" placeholder="Ending Position" class="form-control">
        <option selected disabled hidden>Select an end building...</option>
        <% @buildings.each do |building| %>
            <option><%= building.title %></option>
        <% end %>
    </select>
    <button class="btn btn-primary">Start Search</button>
</div>

<!--Main Map-->
<div class="container-fluid" id="Map">
<!-- Google Maps -->
<%# <div style='width: 800px;'> %>
    <div id="map"></div>
<%# </div> %>

<%= link_to 'Edit Buildings', buildings_path %>

<script type="text/javascript">
    function initMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {}, 
            internal: {
                id: 'map'
            }
            }, 
            function() {
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
            }
        );
    }

    $( document ).ready(function() {
        handler = null;
        initMap();
    });
    </script>
</div>
<!-- End Map -->