<%= image_tag("OLD_NORTH.jpg", :id => "bg-media") %>

<!--Title Container-->
<div class="container-fluid" id="title-container">
    <a href="https://www.uco.edu/" style="background-color: transparent;">
        <%= image_tag("UCO Logo.png", :id => "UCO-Logo") %>
    </a>
</div>

<!--Search Bars-->
<form class="input-group" id="Search-Bars" action="/map/search">
    <select id="startPos" name="startBuildingID" type="text" class="form-control" form="Search-Bars">
        <option value="0" selected disabled hidden>Select a start building...</option>
        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <select id="endPos" name="endBuildingID" type="text" class="form-control" form="Search-Bars">
        <option value="0" selected disabled hidden>Select an end building...</option>
        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <input type="submit" class="btn btn-primary" value="Start Search">
</form>


<div class="row" id="map-row">
    <!--Main Map-->
    <div class="col-9 container-fluid" id="Map">
        <!-- Google Maps -->
        <div id="map"></div>
    </div>  
    <!-- End Map -->

    <!-- Sidebar with Directions -->
    <div class="col-3" id="directions">
        Pariatur do aliqua aute sint elit in et reprehenderit sunt aute ipsum reprehenderit. Dolor proident aute dolore fugiat dolor aliqua ullamco amet ut eu deserunt. Voluptate esse Lorem laborum est dolor. Est officia consequat nisi pariatur ad eu. Cillum ullamco aliqua aute magna deserunt ad eiusmod aliqua. Duis ipsum eu veniam deserunt magna adipisicing pariatur et qui. Aliqua enim reprehenderit voluptate sit.
    </div>
</div> <!-- End Row -->

<%= link_to 'Edit Buildings', buildings_path %>

<script type="text/javascript">
    function initMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                center: {lat: 35.6558, lng: -97.4715},
                zoom: 16.7,
                disableDefaultUI: true
            }, 
            internal: {
                id: 'map'
            }
            }, 
            function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
            },
        );
    }

    $( document ).ready(function() {
        handler = null;
        initMap();
    });

</script>
