<!-- Dank Background gif-->
<%# <video autoplay muted loop id="bg-media">
<source src="https://giant.gfycat.com/PlaintivePoisedIvorygull.webm" type="video/mp4">
</video> %>
<%= image_tag("OLD_NORTH.jpg", :id => "bg-media") %>

<!--Title Container-->
<div class="container-fluid" id="title-container">
    <a href="https://www.uco.edu/" style="background-color: transparent;">
        <%= image_tag("UCO Logo.png", :id => "UCO-Logo") %>
    </a>
</div>

<!--Search Bars-->
<form class="input-group" id="Search-Bars">
    <select id="startPos" type="text" class="form-control">
        <option value="0" selected disabled hidden>Select a start building...</option>

        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <select id="endPos" type="text" class="form-control">
        <option value="0" selected disabled hidden>Select an end building...</option>
        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <button class="btn btn-primary">Start Search</button>
</form>

<!--Main Map-->
<div class="container-fluid" id="Map">
    <div id="map">
</div>

<%= link_to 'Edit Buildings', buildings_path %>

<script type="text/javascript">
    function initMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                center: {lat: 35.6558, lng: -97.4715},
                zoom: 16.7,
                disableDefaultUI: true
            }, 
            internal: {
                id: 'map'
            }
            }, 
            function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
            },
        );
    }

    $( document ).ready(function() {
        handler = null;
        initMap();
    });

</script>
</div>
<!-- End Map -->