<%= image_tag("OLD_NORTH.png", :id => "bg-media") %>

<!--Title Container-->
<div class="container-fluid" id="title-container">
    <a href="https://www.uco.edu/" style="background-color: transparent;">
        <%= image_tag("UCO Logo.png", :id => "UCO-Logo") %>
    </a>


</div>

<!--Search Bars-->
<form class="input-group" id="Search-Bars" action="/map/search">
    <select id="startPos" name="startBuildingID" type="text" class="form-control" form="Search-Bars">
        <option value="0" selected disabled hidden>Select a start building...</option>
        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <select id="endPos" name="endBuildingID" type="text" class="form-control" form="Search-Bars" style="display: none">
        <option value="0" selected disabled hidden>Select an end building...</option>
        <% @buildings.each do |building| %>
            <option value="<%= building.id %>"><%= building.title %></option>
        <% end %>
    </select>
    <input type="submit" class="btn btn-primary" value="Start Search">
</form>


<div class="row" id="map-row">
    <!--Main Map-->
    <div class="col-9 container-fluid" id="Map">
        <!-- Google Maps -->
        <div id="map"></div>
    </div>  
    <!-- End Map -->

    <!-- Sidebar with Directions -->
    <div class="col-3" id="directions">
        <% if @directions %>
            <h3>Directions:</h3>
            <% @directions.each_with_index do |step, index| %>
                <%= step[0].html_safe %>
                <% if index.even?%>
                     and travel
                <% end %>
                <% if !index.even? %>
                    <br>
                    <br>
                <% end %>
            <% end %>
        <% else %>
            Select two buildings at the top and click "Start Search" to get directions between the two buildings.
            <hr>
        <% end %>
    </div>
</div> <!-- End Map Row -->


<!-- Footer Row -->
<div class="row align-items-center justify-content-center" id="footer-row">
    <%= link_to 'Edit Buildings', buildings_path, :id => "buildings-link", :style => "margin-right: 30px;" %>
    <%= link_to 'Edit Entrances', entrances_path, :id => "entrances-link" %>
</div>

<script type="text/javascript">
    function initMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({ 
            provider: {
                center: {lat: 35.6558, lng: -97.4715},
                zoom: 16.7,
                disableDefaultUI: true
            }, 
            internal: {
                id: 'map'
            }
            }, 
            function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
            },
        );
    }

    $( document ).ready(function() {
        handler = null;
        initMap();
    });

</script>
